body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
video {
    filter: FlipH;
    height: 0;
    width: 0;
}

.output_canvas {
    filter: FlipH;
    height:100%;
    width: 100%;
    overflow-x: hidden;
    left: 450px;
    margin:0 auto;
    position:absolute;
    top: 0;
    -ms-filter: "FlipH";
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* .cover { 
    top: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(20,20,20,0.4);
} */
.sidebar {
    top: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 40%;
    background: rgb(249,197,141);
    background: linear-gradient(90deg, rgba(249,197,141,1) 0%, rgba(244,146,240,1) 100%);
}

.iconify {
    position: absolute;
    top: 25px;
    left: 25px;
}

.iconify:hover {
    cursor: pointer;
}

.wrapper:hover {
    cursor: default;
}

#alphabet_container {
    position: absolute;
    top: 42%;
    left: 14.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#randomE {
    font-size: 20px;
    font-family:'Quicksand', sans-serif;

}

