.start_btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  background: rgb(249,197,141);
  background: linear-gradient(135deg, rgba(249,197,141,1) 0%, rgba(244,146,240,1) 100%);
  color: white;
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  will-change: transform;
  transition: transform 450ms;
}


.btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  background: slateblue;
  color: white;
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  will-change: transform;
  transition: transform 450ms;
  filter: grayscale(100%);
}

.btn:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

.start_btn:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
  cursor: pointer;
}

.spacer1 {
  margin-top: 0px;
  margin-bottom: px;
  display: flex;
  justify-content: space-evenly;
}
.spacer2{
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.subtitle{
  padding-top: 4px;
}

.emoji:hover {
  cursor: default;
}

.map_text {
  font-size: 30px;
}